In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Part 1:  Load Data

In [3]:
train_ftr = pd.read_csv('./Dataset/DengAI_Predicting_Disease_Spread_-_Training_Data_Features.csv')
train_lbl = pd.read_csv('./Dataset/DengAI_Predicting_Disease_Spread_-_Training_Data_Labels.csv')

In [4]:
test_ftr = pd.read_csv('./Dataset/DengAI_Predicting_Disease_Spread_-_Test_Data_Features.csv')

In [61]:
train_ftr.head(6)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
5,sj,1990,23,1990-06-04,NaN,0.174850,0.254314,0.181743,9.58,299.630000,...,26.49,79.891429,9.58,17.212857,2.100000,28.114286,6.942857,34.4,23.9,39.1

In [6]:
train_ftr.columns

Index([u'city', u'year', u'weekofyear', u'week_start_date', u'ndvi_ne',
       u'ndvi_nw', u'ndvi_se', u'ndvi_sw', u'precipitation_amt_mm',
       u'reanalysis_air_temp_k', u'reanalysis_avg_temp_k',
       u'reanalysis_dew_point_temp_k', u'reanalysis_max_air_temp_k',
       u'reanalysis_min_air_temp_k', u'reanalysis_precip_amt_kg_per_m2',
       u'reanalysis_relative_humidity_percent',
       u'reanalysis_sat_precip_amt_mm',
       u'reanalysis_specific_humidity_g_per_kg', u'reanalysis_tdtr_k',
       u'station_avg_temp_c', u'station_diur_temp_rng_c',
       u'station_max_temp_c', u'station_min_temp_c', u'station_precip_mm'],
      dtype='object')

In [8]:
train_lbl.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [9]:
target = train_lbl['total_cases']

In [10]:
print "Total number of Training cases: ",len(train_lbl)

Total number of Training cases:  1456

In [11]:
print "Total number of Prediction cases: ",len(test_ftr)

Total number of Prediction cases:  416

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [13]:
city = train_ftr['city']
year = train_ftr['year']
weoy = train_ftr['weekofyear']

In [14]:
#city

In [15]:
cols = list(train_ftr.columns)
features = cols
features.remove('year')
features.remove('weekofyear')
features.remove('week_start_date')

In [72]:
X = train_ftr[features]

In [73]:
X.head()

,city,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [74]:
#city

### Part 2: Feature Preprocessing

In [75]:
le = LabelEncoder().fit(city)
le.transform(city)
le.classes_
X['city'] =  le.transform(city)

/Users/akhilpunia/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [76]:
X.head()

,city,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,1,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,1,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,1,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,1,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [80]:
print "Missing Values\n"
for i in range(len(features)):
    ind = pd.isnull(X[features[i]])
    print "- ",features[i],len(ind[ind==True]),"\n"

Missing Values

-  city 0

-  ndvi_ne 194

-  ndvi_nw 52

-  ndvi_se 22

-  ndvi_sw 22

-  precipitation_amt_mm 13

-  reanalysis_air_temp_k 10

-  reanalysis_avg_temp_k 10

-  reanalysis_dew_point_temp_k 10

-  reanalysis_max_air_temp_k 10

-  reanalysis_min_air_temp_k 10

-  reanalysis_precip_amt_kg_per_m2 10

-  reanalysis_relative_humidity_percent 10

-  reanalysis_sat_precip_amt_mm 13

-  reanalysis_specific_humidity_g_per_kg 10

-  reanalysis_tdtr_k 10

-  station_avg_temp_c 43

-  station_diur_temp_rng_c 43

-  station_max_temp_c 20

-  station_min_temp_c 14

-  station_precip_mm 22

In [70]:
X = X.fillna(0);

In [57]:
X = StandardScaler().fit_transform(X)

### Part 3: Training

In [43]:
import lightgbm as lgb
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split

In [47]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'max_depth': 6, 
    'learning_rate': 0.1,
    'verbose': 0}
n_estimators = 100

params['metric'] = 'regression_l2';

num_round  = 50

d_train = lgb.Dataset(X, label= target)
model = lgb.train(params, d_train, num_round)

In [24]:
ab = AdaBoostRegressor()

In [25]:
ab.fit(X,target)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=50, random_state=None)

### Part 4: Prediction

In [26]:
test_ftr = pd.read_csv('./Dataset/DengAI_Predicting_Disease_Spread_-_Test_Data_Features.csv')

In [27]:
Xt = test_ftr[features];
temp = le.transform(Xt['city']);
Xt['city'] = temp;
Xt = Xt.fillna(0);
Xt = StandardScaler().fit_transform(Xt)

/Users/akhilpunia/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
pred = ab.predict(Xt)

In [52]:
pred2 = model.predict(Xt)

In [29]:
for i in range(len(pred)):
    pred[i] = int(pred[i])

In [30]:
pred = pred.astype(np.int64)

In [31]:
test_lbl = pd.read_csv('./Dataset/DengAI_Predicting_Disease_Spread_-_Submission_Format.csv')

In [32]:
test_lbl.columns

Index([u'city', u'year', u'weekofyear', u'total_cases'], dtype='object')

In [33]:
test_lbl['total_cases']  = pred

In [34]:
test_lbl.head()

  city  year  weekofyear  total_cases
0   sj  2008          18           28
1   sj  2008          19           28
2   sj  2008          20           28
3   sj  2008          21           28
4   sj  2008          22           28

In [35]:
test_lbl.to_csv('Solution-AdaBoost.csv',index=False)

In [55]:
for i in range(len(pred2)):
    pred2[i] = int(pred2[i])

In [59]:
test_lbl['total_cases']  = pred2

In [60]:
test_lbl.to_csv('Solution-LightGBM.csv',index=False)